body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbarLink {
  color: #CFDFDA;
  text-decoration: none;
}

.importantTitles{
  font-family: 'Lobster', cursive;
}
.maintitle{
  font-size: 4rem;
}
.subtitle{
  font-size: 3rem;
}

.heroPage{
    background-image: url('./assets/globe-35.gif');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding-top: 0px;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      text-align: center;
}

.lightBlue{
  color: #236477;
}

.darkerBlue{
  color: #173042
}

.darkerGreen{
  color: #4A6C2F;
}